/* Other */
.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

html {
  font-size: 62.5%; }

body {
  font: 300 13px/1.6 "Helvetica Neue", Helvetica, Arial;
  color: #444;
  transition: all 0.4s 0.3s ease-in; }

body, html {
  min-height: 100vh; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

a,
input,
button,
img {
  outline: 0; }

header {
  left: 0;
  padding-top: 10px;
  position: relative;
  overflow: hidden;
  top: 0;
  width: 100%; }

#main-menu {
  height: 95px;
  position: relative;
  opacity: 0;
  right: -150px;
  z-index: 2; }
  #main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    position: relative;
    text-align: right; }
    #main-menu ul li {
      margin: 0 10px; }
      #main-menu ul li:hover .sub {
        display: block; }
      #main-menu ul li a {
        color: #053d6a;
        font-family: "Oswald-DemiBold";
        font-size: 20px;
        font-weight: normal;
        text-transform: uppercase; }
      #main-menu ul li .sub {
        position: absolute;
        padding: 5px 10px 0 0;
        right: 0;
        width: 100%; }
        #main-menu ul li .sub li {
          border: 1px solid #ededed;
          margin: 0;
          padding: 5px; }

#main {
  padding-top: 20px;
  opacity: 0; }
  #main #information {
    border-top: 1px solid #ebebeb;
    margin-top: 20px;
    padding-bottom: 15px;
    padding-top: 15px; }
    #main #information .tab-content {
      border: 1px solid #ebebeb;
      padding: 15px; }
      #main #information .tab-content #info #data p {
        color: #053d6a;
        font-family: "Oswald-ExtraLight";
        font-size: 16px;
        font-weight: normal; }
      #main #information .tab-content #form-register label {
        color: #053d6a;
        font-family: "Oswald-Medium";
        font-size: 16px;
        font-weight: normal; }
      #main #information .tab-content #form-register input {
        color: #053d6a;
        font-family: "Oswald-ExtraLight";
        font-size: 14px;
        font-weight: normal; }
      #main #information .tab-content #form-register button {
        font-family: "Oswald-Regular"; }
    #main #information .nav-tabs {
      border-bottom: none; }
      #main #information .nav-tabs li.active a {
        font-family: "Oswald-Bold"; }
      #main #information .nav-tabs li a {
        color: #053d6a;
        font-family: "Oswald-DemiBold";
        font-size: 18px;
        font-weight: normal; }
  #main #posts {
    border-top: 1px solid #ebebeb;
    padding-top: 20px; }
    #main #posts .post-item {
      margin-bottom: 15px; }
      #main #posts .post-item figure {
        margin: 0 0 15px; }
      #main #posts .post-item p {
        color: #053d6a;
        font-family: "Oswald-ExtraLight";
        font-size: 16px;
        font-weight: normal; }
      #main #posts .post-item .border-item {
        border: 1px solid #d6d6d6;
        max-height: 460px;
        min-height: 460px;
        padding: 10px; }
      #main #posts .post-item .img-responsive {
        border-radius: 145px; }

footer {
  background-color: rgba(255, 255, 255, 0.5);
  bottom: -50px;
  height: 55px;
  left: 0;
  padding-top: 15px;
  position: fixed;
  overflow: hidden;
  opacity: 0;
  width: 100%;
  z-index: 2; }
  footer #copy {
    color: #053d6a;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    padding-top: 7px; }
    footer #copy p {
      margin: 0; }

@font-face {
  font-family: 'Oswald-Bold';
  src: url("fonts/Oswald-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Oswald-Bold.woff") format("woff"), url("fonts/Oswald-Bold.ttf") format("truetype"), url("fonts/Oswald-Bold.svg#Oswald-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Oswald-DemiBold';
  src: url("fonts/Oswald-DemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/Oswald-DemiBold.woff") format("woff"), url("fonts/Oswald-DemiBold.ttf") format("truetype"), url("fonts/Oswald-DemiBold.svg#Oswald-DemiBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Oswald-ExtraLight';
  src: url("fonts/Oswald-ExtraLight.eot?#iefix") format("embedded-opentype"), url("fonts/Oswald-ExtraLight.woff") format("woff"), url("fonts/Oswald-ExtraLight.ttf") format("truetype"), url("fonts/Oswald-ExtraLight.svg#Oswald-ExtraLight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Oswald-Heavy';
  src: url("fonts/Oswald-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/Oswald-Heavy.woff") format("woff"), url("fonts/Oswald-Heavy.ttf") format("truetype"), url("fonts/Oswald-Heavy.svg#Oswald-Heavy") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Oswald-Medium';
  src: url("fonts/Oswald-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Oswald-Medium.woff") format("woff"), url("fonts/Oswald-Medium.ttf") format("truetype"), url("fonts/Oswald-Medium.svg#Oswald-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Oswald-Regular';
  src: url("fonts/Oswald-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Oswald-Regular.woff") format("woff"), url("fonts/Oswald-Regular.ttf") format("truetype"), url("fonts/Oswald-Regular.svg#Oswald-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OswaldStencil-Bold';
  src: url("fonts/OswaldStencil-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/OswaldStencil-Bold.otf") format("opentype"), url("fonts/OswaldStencil-Bold.woff") format("woff"), url("fonts/OswaldStencil-Bold.ttf") format("truetype"), url("fonts/OswaldStencil-Bold.svg#OswaldStencil-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

#preload,
#loader {
  background-color: rgba(255, 255, 255, 0.95);
  color: #053d6a;
  position: fixed;
  height: 100%;
  top: 0px;
  width: 100%;
  z-index: 99999;
  text-align: center; }
  #preload i,
  #loader i {
    position: absolute;
    top: 50%; }

#loader,
#popup {
  display: none;
  opacity: 0; }

#popup {
  background-color: rgba(255, 255, 255, 0.95);
  cursor: pointer;
  color: #053d6a;
  position: fixed;
  height: 100%;
  top: 0px;
  width: 100%;
  z-index: 99999; }
  #popup article {
    max-width: 300px;
    text-align: center;
    text-transform: uppercase; }
    #popup article #message {
      width: 100%; }

.menu-drop {
  cursor: pointer;
  color: #053d6a;
  display: none;
  position: absolute;
  right: 5%;
  top: 0;
  z-index: 10; }
  .menu-drop.fa-times {
    position: fixed; }

.block {
  display: block; }

.center {
  margin: auto; }

.inline {
  display: inline-block;
  vertical-align: top; }

.none {
  display: none; }

.relative {
  position: relative; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.wrapper-main {
  margin: auto;
  max-width: 1156px;
  padding-left: 15px;
  padding-right: 15px; }

.parsley-errors-list {
  color: red;
  font-family: "Oswald-ExtraLight";
  font-size: 16px;
  font-weight: normal;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; }

@media handheld, only screen and (min-width: 768px) and (max-width: 1023px) {
  footer {
    height: auto;
    padding-bottom: 10px; }
    footer #copy {
      text-align: center; } }

@media handheld, only screen and (max-width: 667px) {
  footer {
    height: auto;
    padding-bottom: 10px;
    position: relative; }
    footer #copy {
      text-align: center; }
  header {
    overflow: inherit;
    z-index: 3 !important; }
  #main {
    padding-top: 35px; }
  #main-menu {
    background-color: rgba(255, 255, 255, 0.95);
    display: none;
    padding-top: 5px;
    position: fixed;
    height: 100%;
    top: 0px;
    opacity: 0;
    width: 100%;
    z-index: 9; }
    #main-menu ul {
      text-align: center; }
      #main-menu ul li {
        display: block;
        margin: 15px; }
        #main-menu ul li a {
          font-size: 30px; }
        #main-menu ul li .sub {
          display: block;
          position: relative;
          padding-right: 0; }
          #main-menu ul li .sub li {
            display: inline-block;
            margin-bottom: 10px;
            vertical-align: top;
            width: 25%; }
  .menu-drop {
    display: block; } }

@media handheld, only screen and (max-width: 414px) {
  #main-menu {
    padding-top: 70px; }
    #main-menu ul li .sub li {
      width: 45%; } }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=style.css.map */