
#preload,
#loader {
    background-color: rgba(255,255,255, .95);
    color: $base;
    position: fixed;
    height: 100%;
    top: 0px;
    width: 100%;
    z-index: 99999;
    text-align: center;

    i {
        position: absolute;
        top: 50%;
    }
}

#loader,
#popup { display: none; opacity: 0; }

#popup {
    background-color: rgba(255,255,255, .95);
    cursor: pointer;
    color: $base;
    position: fixed;
    height: 100%;
    top: 0px;
    width: 100%;
    z-index: 99999;
    
    article {
        max-width: 300px;
        text-align: center;
        text-transform: uppercase;

        #message { width: 100%; }
    }
}

.menu-drop {
    cursor: pointer;
    color: $base;
    display: none;
    position: absolute;
    right: 5%;
    top: 0;
    z-index: 10;

    &.fa-times { position: fixed; }
}

.block          { display: block; }
.center         { margin: auto; }
.inline         { display: inline-block; vertical-align: top; }
.none           { display: none; }
.relative       { position: relative; }
.text-left      { text-align: left; }
.text-right     { text-align: right; }
.wrapper-main   { margin: auto; max-width: 1156px; padding-left: 15px; padding-right: 15px; }

.parsley-errors-list {
    @include fonts(red, $light, 16px);
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
