@media handheld, only screen and (min-width: 768px) and (max-width: 1023px) {
    footer {
        height: auto;
        padding-bottom: 10px;
        #copy { text-align: center; }
    }

    #main {
        
    }
}
@media handheld, only screen and (max-width: 667px) {
    footer {
        height: auto;
        padding-bottom: 10px;
        position: relative;
        #copy { text-align: center; }
    }

    header { overflow: inherit; z-index: 3 !important; }

    #main {
        padding-top: 35px;
    }

    #main-menu {
        background-color: rgba(255,255,255, .95);
        display: none;
        padding-top: 5px;
        position: fixed;
        height: 100%;
        top: 0px;
        opacity: 0;
        width: 100%;
        z-index: 9;

        ul {
            text-align: center;

            li {
                display: block;
                margin: 15px;

                a { font-size: 30px; }

                .sub {
                    display: block;
                    position: relative;
                    padding-right: 0;

                    li {
                        display: inline-block;
                        margin-bottom: 10px;
                        vertical-align: top;
                        width: 25%;
                    }
                }
            }
        }
    }

    .menu-drop { display: block; }
}
@media handheld, only screen and (max-width: 414px) {
    #main {
        
    }

    #main-menu {
        padding-top: 70px;

        ul li .sub li { width: 45%; }
    }
}