
@font-face {
    font-family: 'Oswald-Bold';
    src: url('fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Oswald-Bold.woff') format('woff'),
        url('fonts/Oswald-Bold.ttf')  format('truetype'),
        url('fonts/Oswald-Bold.svg#Oswald-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-DemiBold';
    src: url('fonts/Oswald-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Oswald-DemiBold.woff') format('woff'),
        url('fonts/Oswald-DemiBold.ttf')  format('truetype'),
        url('fonts/Oswald-DemiBold.svg#Oswald-DemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-ExtraLight';
    src: url('fonts/Oswald-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Oswald-ExtraLight.woff') format('woff'),
        url('fonts/Oswald-ExtraLight.ttf')  format('truetype'),
        url('fonts/Oswald-ExtraLight.svg#Oswald-ExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-Heavy';
    src: url('fonts/Oswald-Heavy.eot?#iefix') format('embedded-opentype'),
        url('fonts/Oswald-Heavy.woff') format('woff'),
        url('fonts/Oswald-Heavy.ttf')  format('truetype'),
        url('fonts/Oswald-Heavy.svg#Oswald-Heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-Medium';
    src: url('fonts/Oswald-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Oswald-Medium.woff') format('woff'),
        url('fonts/Oswald-Medium.ttf')  format('truetype'),
        url('fonts/Oswald-Medium.svg#Oswald-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-Regular';
    src: url('fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Oswald-Regular.woff') format('woff'),
        url('fonts/Oswald-Regular.ttf')  format('truetype'),
        url('fonts/Oswald-Regular.svg#Oswald-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OswaldStencil-Bold';
    src: url('fonts/OswaldStencil-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/OswaldStencil-Bold.otf')  format('opentype'),
        url('fonts/OswaldStencil-Bold.woff') format('woff'),
        url('fonts/OswaldStencil-Bold.ttf')  format('truetype'),
        url('fonts/OswaldStencil-Bold.svg#OswaldStencil-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
