$base   : #053d6a;
$darken : darken(#F7F6F0 , 30%);
$back   : darken(#F7F6F0, 40%);

// Path IMG
$bg     : '../img/bg';
$ico    : '../img/icon';
$input  : '../img/inputs';

// Typography
$bold    : 'Oswald-Bold';
$demin   : 'Oswald-DemiBold';
$light   : 'Oswald-ExtraLight';
$heavy   : 'Oswald-Heavy';
$medium  : 'Oswald-Medium';
$regular : 'Oswald-Regular';
$stencil : 'OswaldStencil-Bold';