footer {
    background-color: rgba(255,255,255,.5);
    bottom: -50px;
    height: 55px;
    left: 0;
    padding-top: 15px;
    position: fixed;
    overflow: hidden;
    opacity: 0;
    width: 100%;
    z-index: 2;

    #copy {
        @include fonts($base, Arial, 11px);
        padding-top: 7px;
        
        p { margin: 0; }
    }
}
