#main {
    padding-top: 20px;
    opacity: 0;

    #information {
        border-top: 1px solid #ebebeb;
        margin-top: 20px;
        padding-bottom: 15px;
        padding-top: 15px;

        .tab-content {
            border: 1px solid #ebebeb;
            padding: 15px;

            #info {
                #data p { @include fonts($base, $light, 16px); }
            }

            #form-register {
                label  { @include fonts($base, $medium, 16px); }
                input  { @include fonts($base, $light, 14px); }
                button { font-family: $regular; }
            }
        }

        .nav-tabs {
            border-bottom: none;

            li {
                &.active {
                    a { font-family: $bold; }
                }

                a { @include fonts($base, $demin, 18px); }
            }
        }
    }

    #posts {
        border-top: 1px solid #ebebeb;
        padding-top: 20px;

        .post-item {
            margin-bottom: 15px;
             
            figure          { margin: 0 0 15px; }
            p               { @include fonts($base, $light, 16px); }
            .border-item    { border: 1px solid #d6d6d6; max-height: 460px; min-height: 460px; padding: 10px; }
            .img-responsive { border-radius: 145px; }
        }
    }
}
