#main-menu {
    height: 95px;
    position: relative;
    opacity: 0;
    right: -150px;
    z-index: 2;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-top: 10px;
        position: relative;
        text-align: right;

        li {
            &:hover { 
                .sub { display: block; }
            }

            margin: 0 10px;

            a { @include fonts($base, $demin, 20px); text-transform: uppercase; }

            .sub {
                position: absolute;
                padding: 5px 10px 0 0;
                right: 0;
                width: 100%;

                li {
                    border: 1px solid #ededed;
                    margin: 0;
                    padding: 5px;
                }
            }
        }
    }
}